<div class="container">
  <header>
    <h1>Gestión de Tareas</h1>
  </header>

  <div class="form-section">
    <div class="form-card">
      <input type="text" class="form-input" placeholder="Título de la tarea" [(ngModel)]="newTask.title">
      <input type="text" class="form-input" placeholder="Añade una descripción..." [(ngModel)]="newTask.description">

      <div class="date-group">
        <label for="date">Fecha:</label>
        <input type="datetime-local" class="form-input" [(ngModel)]="newTask.createdAt">
      </div>

      <button (click)="addTask()" [class.btn-update]="newTask.id !== 0">
        {{ newTask.id === 0 ? 'Añadir Tarea' : 'Guardar Cambios' }}
      </button>
      <button *ngIf="newTask.id !== 0" (click)="resetForm()" class="btn-cancel">Cancelar</button>
    </div>
  </div>
  <hr class="separator">

  <div class="tasks-grid">
    <div class="task-card" *ngFor="let task of tasks" [class.completed-card]="task.isCompleted">

      <div class="card-header">
        <input type="checkbox" [checked]="task.isCompleted" (change)="toggleComplete(task)">
        <h3 [class.completed-text]="task.isCompleted">{{ task.title }}</h3>
      </div>

      <div class="card-body">
        <p>{{ task.description }}</p>
      </div>

      <div class="card-footer">
        <span class="task-date">
          📅 {{ task.createdAt | date:'medium' }}
        </span>
        <div class="actions">
          <button class="edit-btn" (click)="editTask(task)">Edit</button>
          <button class="delete-btn" (click)="deleteTask(task.id)">Del</button>
        </div>
      </div>

    </div>
  </div>
</div>